<div fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
  <div fxLayout="row" fxLayoutAlign="center center">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Sign In</mat-card-title>
        <mat-card-subtitle>to use rpstar</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="center center">
        <app-social-button provider="google"></app-social-button>
        <app-social-button provider="facebook"></app-social-button>
        <app-social-button provider="microsoft"></app-social-button>
        <app-social-button provider="github"></app-social-button>
      </mat-card-content>
    </mat-card>
  </div>

</div>
