/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.clickable {
  cursor: pointer;
}
.clickable:focus {outline:0;}

.error-toast {
  background: #9c0624;
}

.warn-toast {
  background: #96621a;
}

.info-toast {
  background: #c41b78;
}

a {
  color: white;
}

a:visited {
  color: lightgray;
}
